ion-menu {
    --background: #2c2c2c; /* Fondo del menú lateral */
  }
  
  ion-item {
    --color: #ffffff; /* Color de texto de los elementos del menú */
  }
  
  ion-icon {
    color: #ffffff; /* Color del icono */
  }
  